body {
  background-color: silver;
}

h1 {
  text-align: center;
}

#content {
  padding: 20px;
  margin: 70px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.entry {
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.entry:hover {
  background-color: honeydew;
}
