{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('add_entry') }}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="post">Post</label>
            <textarea rows="4" id="post" class="form-control" name="post"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-success">Share</button>
    </form>

{% endblock %}
