{% extends "base.html" %}

{% block content %}

    {% for entry in entries %}
        <div class="entry">
            <h1>{{ entry.title }}</h1>
            <p>{{ entry.post }}</p>
        </div>
    {% else %}
        <p>Make the first post!</p>
    {% endfor %}

{% endblock %}
